<div>
  <md-toolbar color="primary">
    <span>Angular App using Material Design</span>
    <span class="app-toolbar-filler"></span>
    <button md-raised-button color="accent">LOGIN</button>
  </md-toolbar>
  <div class="app-component">
    <md-grid-list cols="3" rowHeight="100px">
      <md-grid-tile *ngFor="let quote of quotes">
        <md-card>
          <md-card-content>{{quote.saying}}
            <span class="author">
              {{quote.author}}
            </span>
          </md-card-content>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>